@font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Black.eot") format("eot"),
      url("../fonts/CeraPro-Black.woff") format("woff"),
      url("../fonts/CeraPro-Black.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-BlackItalic.eot") format("eot"),
      url("../fonts/CeraPro-BlackItalic.woff") format("woff"),
      url("../fonts/CeraPro-BlackItalic.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Bold.eot") format("eot"),
      url("../fonts/CeraPro-Bold.woff") format("woff"),
      url("../fonts/CeraPro-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-BoldItalic.eot") format("eot"),
      url("../fonts/CeraPro-BoldItalic.woff") format("woff"),
      url("../fonts/CeraPro-BoldItalic.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Italic.eot") format("eot"),
      url("../fonts/CeraPro-Italic.woff") format("woff"),
      url("../fonts/CeraPro-Italic.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Light.eot") format("eot"),
      url("../fonts/CeraPro-Light.woff") format("woff"),
      url("../fonts/CeraPro-Light.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-LightItalic.eot") format("eot"),
      url("../fonts/CeraPro-LightItalic.woff") format("woff"),
      url("../fonts/CeraPro-LightItalic.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Medium.eot") format("eot"),
      url("../fonts/CeraPro-Medium.woff") format("woff"),
      url("../fonts/CeraPro-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-MediumItalic.eot") format("eot"),
      url("../fonts/CeraPro-MediumItalic.woff") format("woff"),
      url("../fonts/CeraPro-MediumItalic.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro Regular";
    src:
      url("../fonts/CeraPro-Regular.eot") format("eot"),
      url("../fonts/CeraPro-Regular.woff") format("woff"),
      url("../fonts/CeraPro-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-Thin.eot") format("eot"),
      url("../fonts/CeraPro-Thin.woff") format("woff"),
      url("../fonts/CeraPro-Thin.ttf") format("ttf");
  }
  @font-face {
    font-family: "Cera Pro";
    src:
      url("../fonts/CeraPro-ThinItalic.eot") format("eot"),
      url("../fonts/CeraPro-ThinItalic.woff") format("woff"),
      url("../fonts/CeraPro-ThinItalic.tth") format("tth");
  }
  @font-face {
    font-family: "EncodeSansExpanded-Regular";
    src:
      url("../fonts/EncodeSansExpanded-Regular.ttf") format("ttf");
  }
