.container {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 30px;
    font-family:"Cera Pro Regular";
   
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    
}
.list {
    display: flex;
    gap: 47px;
    position: relative;
    padding-right: 138px;
}
.login {
    background-color: rgba(70, 163, 88, 1);
    border-radius: 6px;
    padding: 7px 17px 8px 17px;
}
.login-link {
    display: flex;
    align-items: center;

}
.logout {
    margin-right: 4px;
}
.login-name {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.nav-name {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 22px;
}
.nav-name:hover {
    font-weight: bold;
    border-bottom: 3px solid #46A358;
}
.nav-item-plant:hover .plant-care-second {
    display: block;
}
/* MAIN */

.main-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    background-color: #F5F5F580;
    padding-left: 43px;
}
.main-info {
    display: flex;
    flex-direction: column;
    
    
}
.welcome {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-top: 68px;
    padding-bottom: 7px;
    
}
.main-title {
    font-size: 70px;
    font-weight: 1000;
    line-height: 70px;
    color: #3D3D3D;
    max-width: 530px;
    text-transform: uppercase;
    
}
.planet {
    color: #46A358;
    
}
.main-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    max-width: 557px;
    padding-top: 5px;
    padding-bottom: 44px;
}
.shop-now-link {
    padding: 10px 27px 10px 26px;
    background-color: #46A358;
    max-width: 140px;
    border-radius: 6px;
    text-transform: uppercase;
    
}
.shop-now-name {
    
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #fff;
}
.main-image {
    position: relative;
}
.second-img {
    position: absolute;
    left: 55px;
    bottom: 17px;
}
/* PLANT-care-second */

.plant-care-second {
    
    background-color: #EDF6EE;
    display: none;
    position: absolute;
    left: 127px;
    top: 45px;
    padding-top: 12px;
    background-clip: content-box;
}
.plant-care-second-link {
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    padding: 7px 0px 9px 14px;
}
.plant-care-second-item:hover {
    background-color: #1A712A;
}
.plant-care-second-link:hover {
    color: #fff;
}
.plant-care-second-link:hover .color {
    fill: #fff;
}
.icon-right {
  position: absolute;
  left: 151px;
  top: 12px;
} 
.plant-care-second-element {
    padding-right: 99px;
    position: relative;
}
.plant-care-third-link {
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3D3D3D;
    display: block;
    padding: 7px 0px 9px 14px;
}
.plant-care-third-item:hover {
    background-color: #1A712A;
}
.plant-care-third-link:hover {
    color: #fff;
}
.last-item {
    position: relative;
    display: block;
    }
  
.plant-care-third {
    background-color: #EDF6EE;
    display: none;
    position: absolute;
    padding-left: 4px;
    background-clip: content-box;
}
.last-item:hover .plant-care-third {
    display:block;
   top: -108px;
   right: -176px;
   
}
.plant-care-third {
    width: 178px;
    z-index: 1;
}

