.container {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 121px;
    font-family:"Cera Pro Regular";
}
.card-list {
    display: flex;
    justify-content: space-between;
}
.top-block {
    margin-bottom: 138px;
}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    padding: 37px 30px 46px 274px;
    background-color: #FBFBFB;
}
.card-name-l::after {
    content: "& succulents";
    display: block;
    text-align: end;
}
.card-text::after {
    content: "range of cheap and trendy plants";
    display: block;
    text-align: end;
}
.card-name-l {
    color: #3D3D3D;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 9px;
}
.card-text {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
.card-link {
    background-color: #46A358;
    padding: 11px 27px 9px 28px;
    border-radius: 6px;
    color: #FFF;

}
.card-img-1 {
    position: absolute;
    bottom: 10px;
    right: 300px;
}
.card-name-r::after {
    content: "& much more";
    display: block;
    text-align: end;
}
.card-name-r {
    color: #3D3D3D;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 9px;
}
.name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-block {
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 35px;
}
.block-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}
.block-item {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;

}
.time-card {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
    padding: 9px 0px 4px 15px;
}
.title-card {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #3D3D3D;
    padding-left: 15px;
}
.first-title::after {
    content: "Care Tips";
    display: block;
}
.block-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
    padding: 4px 0px 9px 15px;
}
.first-text::after {
    content: "plants for any home or patio.";
    display: block;
}
.read-more {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
    padding: 0px 0px 0px 15px;
}
.first-link {
    padding-bottom: 12px;
}
.second-title::after {
    content: "Your Home";
    display: block;
}
.third-title::after {
    content: "Care Tips";
    display: block;
}
.fourth-title::after {
    content: "Room by Room";
    display: block;
}
.second-text::after {
    content: "medium to high light.";
    display: block;
}
.third-text::after {
    content: "containers and because most are..";
    display: block;
}
.fourth-text::after {
    content: "endless. In addition to..";
    display: block;
}

.read-more:hover {
    color: #46A358;
}
