.header {
    margin: 30px 120px 12px 120px;
    text-align: center;
}
.logo {
    display: inline-block;
    margin: 1px 229px 0px 0px;
    vertical-align: top;
}
.nav {
    display: inline-block;
}
.item-home {
    display: inline-block; 
    margin-right: 50px;
    vertical-align: middle;
}
.item-shop {
    display: inline-block; 
    margin-right: 50px;
    vertical-align: middle;
   
}
.item-plant {
    display: inline-block; 
    margin-right: 50px;
    vertical-align: middle;
}
.login {
    display: inline-block;
}
.item-blogs {
    display: inline-block;
    vertical-align: middle;
}
.login-link {
    display: inline-block;
    border-radius: 6px;
    background-color: #46A358;
    margin-left: 370px;
    padding: 8px 17px 7px 17px;
}
.link {
    color: #3D3D3D;
    
}
.login-link {
    font-size: 16px;
}
.login-icon {
   padding-right: 4px; 
}
.link:hover {
    box-shadow:  0px 3px 0px#46A358;
    padding-bottom: 19px;
    text-shadow: 1px 0;
}
.login-name {
    color: #fff;
}



