.footer {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Cera Pro Regular";
    margin-top: 91px;
}
.upper-box {
    display: flex;
    justify-content: space-between;
    padding: 24px 25px;
    background-color: #FBFBFB;
}
.upper-list {
    display: flex;
 
}
.upper-item {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.upper-item:last-child {
    border: none;
    padding-right: 0;
}
.upper-item:first-child {
    padding-left: 0;
}
.ilustration {
    width: 83px;
    height: 95px;
    margin-bottom: 15px;
}
.upper-info {
    display: flex;
    flex-direction: column;
}
.upper-title {
    padding-bottom: 9px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}
.upper-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
    max-width: 204px;
}
.form {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 18px;
}
.input-email {
    padding: 12px 11px 12px 11px; 
    font-family: "Cera Pro Regular";
    min-width: 250px;
    
}
.btn-form {
    cursor: pointer;
    background-color: rgba(70, 163, 88, 1);
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
}
.upper-info-text {
    max-width: 354px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(114, 114, 114, 1);


}
.newsletters {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(61, 61, 61, 1);
    padding-top: 13px;
    margin-bottom: 25px;
}
.input-email::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(172, 172, 172, 1);
    font-family: "Cera Pro Regular";
}
.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 25px 22px 19px 23px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
}
.address-shop-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(61, 61, 61, 1);
    max-width: 176px;
    margin-left: 9px;
}
.contact-email-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(61, 61, 61, 1);
    margin-left: 10px;
}
.contact-number-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(61, 61, 61, 1);
    margin-left: 8px;
}
.address-shop {
    display: flex;
}
.footer-nav {
    display: flex;
    padding: 33px 0px 27px 25px;
    border-bottom: 1px solid #46A35833;
    background-color: #FBFBFB;
}
.my-account-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 8px;
}
.help-guide-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 8px;
}
.footer-categories-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 8px;
} 
.my-account-link {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
   color: #3D3D3D;
   margin-top: 8px;

}
.footer-categories-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
   color: #3D3D3D;
   margin-top: 8px;
}
.help-guide-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
   color: #3D3D3D;
   
}
.my-account {
    margin-right: 164px;
}
.help-guide {
    margin-right: 139px;
}
.footer-categories {
    margin-right: 173px;
}
.social-media-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 33px;
}
.social-media-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 20px;
}
.payment-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 13px;
}
.copyright {
    margin-top: 6px;
}
.copyright-text {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}